<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>zero waste</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='landing.css') }}">
</head>
<body>
    
    <div id="text">
        <h1>TRY TO LEAVE THE EARTH A CLEANER PLACE THAN WHEN YOU ARRIVED.</h1>
        <h2>KNOW YOUR WASTE</h2>
        <form action="/input">
            <button type="submit">START HERE</button>
        </form>

    </div>
    
</body>
</html>